__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.conda/
*.conda
.DS_Store
Thumbs.db
.ipynb_checkpoints/
**/Running FastAPI Inference.txt
**/dev_env.bat
outputs/
notebooks/
docs/
tests/
.git/
.gitignore
Dockerfile